
body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
    background-color: #eee;
}

form {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #ccc;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="number"] {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px;
    width: 100%;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: red;
}


.respuesta {
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: #1CA3FB;
}
    