


body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    background-color: 1DEAE4;
}

form {
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    background-color: #D68910;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

form input[type="number"] {
    border: none;
    border-radius: 3px;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    color: #333;
    background-color: #f0f0f0;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1) inset;
}

form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 12px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Estilos de la tabla de resultados */
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

th {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    text-align: left;
    padding: 15px;
}

td {
    padding: 15px;
    border-bottom: 1px solid #eee;
}
