body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
    background-image: linear-gradient(270deg, #ffcd74 0, #ffd464 5%, #ffd954 10%, #ffde43 15%, #ffe133 20%, #ffe421 25%, #ede60d 30%, #d1e600 35%, #b2e500 40%, #8de305 45%, #5fdf1a 50%, #00db2d 55%, #00d640 60%, #00d253 65%, #00ce67 70%, #00ca7d 75%, #00c794 80%, #00c4ab 85%, #00c1c4 90%, #00bfdc 95%, #00bef5 100%);
}

form {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: yellowgreen;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #ccc;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="number"] {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px;
    width: 100%;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
.respuesta {
    text-align: center;
    padding: 10px 20px ;



}

