body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    background-image: radial-gradient(circle at 68.46% 50%, #fffb00 0, #fbfd00 8.33%, #dafb00 16.67%, #b6f700 25%, #90ef00 33.33%, #64e407 41.67%, #23d72a 50%, #00c93b 58.33%, #00bc49 66.67%, #00b256 75%, #00a862 83.33%, #00a16f 91.67%, #009c7c 100%);
}

form {
    display: inline-block;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"] {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}

p {
    margin-top: 20px;
    font-size: 18px;
}